# Dependencies
node_modules
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Next.js
.next
out
dist

# Testing
coverage
.nyc_output

# Development
.vscode
.idea
*.sw[op]

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.DS_Store
*.pem
.cache
*.log

# Git
.git
.gitignore

